@use "../utilities/variables" as variables;

.moving-main {
  transition: 500ms ease-in-out;
  height: 90vh;
  top: 0vh;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.moving-main::-webkit-scrollbar {
  display: none;
}
