@use "../utilities/variables" as variables;

#menu_icon {
  font-size: 2rem;
  display: block;
  width: 50px;
  text-align: center;
  padding: 0rem 1rem;
  position: relative;
  z-index: 1;
  border: 2px solid;
  border-radius: 25px;
  padding: 10px;
  background-color: map-get($map: variables.$colors, $key: nicegreen);
}

#menu_icon:hover {
  cursor: pointer;
}

.cta-btn {
  border: 2px solid map-get($map: variables.$colors, $key: deepblue);
  text-decoration: none;
  background-color: map-get($map: variables.$colors, $key: offwhite);

  padding: 15px 25px;
  font-weight: 600;
  font-size: 1.3rem;
  margin: 15px 10px;

  -webkit-transform: skewX(-10deg);
  -moz-transform: skewX(-10deg);
  -ms-transform: skewX(-10deg);
  transform: skewX(-10deg);
  filter: drop-shadow(
    20px 10px 4px map-get($map: variables.$colors, $key: deepblue)
  );
  transition: ease-in-out 0.2s;
}

.cta-btn:hover,
.sign-in:hover:enabled,
.sign-up:hover:enabled {
  filter: drop-shadow(
    15px 5px 2px map-get($map: variables.$colors, $key: brightblue)
  );
  background-color: map-get($map: variables.$colors, $key: deepblue);
  color: map-get($map: variables.$colors, $key: offwhite);
  -webkit-transform: skewX(-5deg);
  -moz-transform: skewX(-5eg);
  -ms-transform: skewX(-5deg);
}

.login-btn {
  border: 2px solid map-get($map: variables.$colors, $key: deepblue);
  text-decoration: none;
  background-color: map-get($map: variables.$colors, $key: offwhite);
  border-radius: 25px;
  padding: 10px;
  position: relative;
  z-index: 1;
  text-align: center;
  align-self: center;
}

.sign-in,
.sign-up {
  background-color: map-get($map: variables.$colors, $key: offwhite);
  align-self: center;
  padding: 10px;
  margin-top: 10px;
  -webkit-transform: skewX(-10deg);
  -moz-transform: skewX(-10deg);
  -ms-transform: skewX(-10deg);
  transform: skewX(-10deg);

  transition: ease-in-out 0.2s;
}

.sign-in:disabled,
.sign-up:disabled {
  filter: drop-shadow(
    20px 10px 4px map-get($map: variables.$colors, $key: brightblue)
  );
}

.sign-in:enabled,
.sign-up:disabled {
  filter: drop-shadow(
    20px 10px 4px map-get($map: variables.$colors, $key: deepblue)
  );
}

.show-signup-form-button {
  margin-top: 7vh;
  border: 2px solid map-get($map: variables.$colors, $key: deepblue);
  color: map-get($map: variables.$colors, $key: offwhite);
  text-decoration: none;
  background-color: map-get($map: variables.$colors, $key: deepblue);
  border-radius: 15px;
  padding: 10px;
  position: relative;
  text-align: center;
  align-self: center;
}

.show-signup-form-button:hover {
  background-color: map-get($map: variables.$colors, $key: offwhite);
  color: map-get($map: variables.$colors, $key: deepblue);
  cursor: pointer;
}
