@use "../utilities/variables.scss" as variables;

header {
  display: flex;
  flex-direction: row;
  height: 50px;
  width: 100%;
  justify-content: center;

  header > a {
    width: 100px;
    display: flex;
    align-items: center;
  }

  .header_logo {
    height: 50px;
    width: 55px;
  }

  .logo_banner {
    display: flex;
    width: 85%;
    justify-content: space-between;
    align-items: center;
  }

  .site_name {
    font-family: map-get($map: variables.$fonts, $key: text-font), sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    margin: auto;
    padding: 0px 10px;
  }

  #hamburger_menu {
    display: none;
  }

  #menu_icon {
    font-size: 2rem;
    display: block;
    padding: 0rem 1rem;
    position: relative;
    z-index: 1;
  }

  #menu_icon:hover {
    cursor: pointer;
  }

  nav {
    position: absolute;
    width: 100%;
    height: 404px;
    top: -500px;
    transition: 500ms;

    .nav_ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      align-self: flex-end;
      justify-content: space-evenly;
      margin: 0px;
      background-color: map-get($map: variables.$colors, $key: normalblue);
      width: 100%;
      height: 100%;
      position: relative;
      z-index: -1;
      border-top: none;
      padding: 50px 0px 0px 0px;
    }

    .nav_ul > li {
      list-style: none;
      margin: 10px 25px;
    }

    .nav_ul > li:nth-of-type(3) {
      margin-bottom: 50px;
    }

    .nav_ul > li > a {
      font-family: map-get($map: variables.$fonts, $key: text-font);
      font-size: 1.5rem;
      text-decoration: underline;
      padding: 0px 10px;
    }

    .menubox {
      color: rgba(255, 0, 0, 0.39);

      #hamburger_menu {
        display: none;
      }

      #hamburger_menu:checked ~ nav {
        top: 0px;
      }

      #menu_icon {
        font-size: 2rem;
        display: block;
        position: absolute;
        top: 15%;
        right: 2.5%;
        z-index: 1;
        padding: 0rem 1.5rem;
      }

      #menu_icon:hover {
        cursor: pointer;
        position: absolute;
      }
    }
  }
}
