@use "../utilities/variables" as variables;

.featured-section {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.user-banner {
  border: 2px solid map-get($map: variables.$colors, $key: deepblue);
  width: 100vw;
  height: 20vh;
  background: no-repeat center;
  object-fit: cover;
  background-color: map-get($map: variables.$colors, $key: brightblue);
  z-index: -1;
}

.user-avatar {
  border: 2px solid map-get($map: variables.$colors, $key: deepblue);
  width: 200px;
  height: 200px;
  object-fit: cover;
}
