@use "./components/header";
@use "./components/_footer.scss";
@use "./components/images.scss";
@use "./components/_hero-story.scss";
@use "./utilities/variables" as variables;

body {
  background-color: map-get($map: variables.$colors, $key: offwhite);
  margin: 0;
}

/*
DELETE THIS STYLE AFTER DEVELOPMENT
*/
main {
  min-height: 1650px;
}
/*
DELETE THIS STYLE AFTER DEVELOPMENT
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: map-get($map: variables.$fonts, $key: header-font);
}

p,
li,
a,
span {
  font-family: map-get($map: variables.$fonts, $key: text-font);
}
